{% extends "bootstrap/base.html" %}
{% block title %}Admin{% endblock %}

{% include "navbar.html" %}

{% block content %}

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Username</td>
                <td>Online</td>
                <td>Data Usage</td>
                <td>Quota</td>
                <td>Enabled</td>
                <!-- <td>Edit</td> -->
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.username }}</td>
                    <td>{{ u.online}}</td>
                    <td>{{ u.data_usage }}</td>
                    <td>{{ u.quota }}</td>
                    <td>{{ u.enabled }}</td>
                    <!-- <td>{{ "edit_url" }}</td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
